@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
}
body {
  background: black;
}
.panel {
  position: absolute;
  z-index: 100;
}
.hover {
  cursor: pointer;
}
#info {
  right: 1%;
  bottom: 0%;
}
#copyright {
  left: 1%;
  bottom: 2%;
}
#rotate {
  top: 15%;
  right: 2%;
}
#time {
  top: 7.5%;
  right: 5%;
}
.lightning-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Audiowide", sans-serif;
  font-size: 2rem;
  color: #f5faff;
  letter-spacing: 2px;

  /* soft glow */
  text-shadow: 0 0 6px rgba(0, 170, 255, 0.8), 0 0 12px rgba(0, 170, 255, 0.6),
    0 0 24px rgba(0, 170, 255, 0.4);
}
#title {
  top: 0.5%;
  left: 0%;
}
@media (min-width: 650px) and (orientation: landscape) {
  #time {
    top: 2%;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  #title {
    top: 2.5%;
    left: 2.5%;
  }
  #time {
    top: 2.5%;
  }
  #rotate {
    top: 7.5%;
  }
}

@media (min-width: 1400px) {
  #title {
    top: 4%;
    left: 4%;
  }
  #time {
    top: 5%;
  }
}
