html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
}
body {
  background: black;
}
.panel {
  position: absolute;
  z-index: 100;
}
.hover {
  cursor: pointer;
}
#info {
  right: 1%;
  bottom: 0%;
}
#copyright {
  left: 1%;
  bottom: 2%;
}
#rotate {
  top: 15%;
  right: 2%;
}
#time {
  top: 5%;
  right: 6%;
}
#title {
  top: 2.5%;
  left: 2.5%;
}
